<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="validPost">
    <classes>
      <class name="demo.Example1Test"/>
    </classes>
   </test>
  <test name="invalidPost">
    <classes>
      <class name="demo.Example2Test"/>
    </classes>
  </test> <!-- validPost -->
</suite> <!-- Suite -->
